* {
margin: 0;
padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.elms-sans {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
}


@media (max-width: 480px) {

  footer{
    flex-direction: column;
    height: 300px;
  }

  footer div {
    display: flex;
    align-items: center;
  }
}


body {
    height: 100vh;
    box-sizing: border-box;
    font-family: "Elms Sans";
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Elms Sans";
    font-size: 20px;
    color: blue;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

header a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 100%;
  display: block;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-size: 18px;
    font-family: "Elms Sans";
}

.campo {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

#campoMensagem {
  border: 1px solid #cccccc;
  width: 292px;
  height: 100px;
  margin: 8px;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
}

select.campo {
  color: #807d7d;
  width: 312px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 5px;
  height: 36px;
  margin: 8px;
  font-size: 13px;
}

button {
    background-color: #00095b;
    color: white;
    width: 150px;
    border-radius: 16px;
    padding: 10px 0;
    font-family: "Elms Sans";
    font-size: 16px;
    float: right;
}

button:hover {
  background-color: blue;
  transform: scale(1.05);
  cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00095b;
    color: white;
    height: 80px;
    font-family: "Elms Sans";
    font-size: 18px;
    padding: 0% 2%;
}

.divRedes{
    display: flex;
    align-items: center;
    gap: 8px;
    
}

footer div {
  flex: 20%;
}

a:link {
  color: blue;
}


a:visited {
  color: blue;
}


a:hover {
  color: gray;
}


a:active {
  color: blue;
}
