* {
margin: 0;
padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.elms-sans {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
}


@media (max-width: 480px) {

  footer{
    flex-direction: column;
    height: 300px;
  }

  footer div {
    display: flex;
    align-items: center;
  }
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: "Elms Sans";

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Elms Sans";
    font-size: 20px;
    color: blue;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

header a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 100%;
  display: block;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

main {
    
    font-family: "Elms Sans";
}

ul.cardCarros {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

ul.cardCarros li {
    display: inline-block;
    text-align: left;
    width: 300px;
    vertical-align: top;
}

img.fotoCarro {
    display: block;
    width: 250px;
}

.checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid #1b357e;
}

.infoCarro div {
    display: inline-block;
}

.info {
    width: 200px;
    vertical-align: top;
}

.descricaoCarro {
    display: block;
    text-align: left;
    font-size: 18px;
    color: #1351d8;
    
}
.precoSugerido {
    display: block;
    text-align: left;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 10px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  td:nth-child(1) {  
    font-weight: 700;
    width: 40%;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

div#compare {
    position: absolute;
    display: none;
    width: 50vw;
    max-width: 800px;
    min-width: 400px;
    height: 80vh;
    max-height: 700px;
    min-height: 350px;
    background: #fff;
    top: calc(100vh - 80%);
    left: 25vw;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
}

button {
  background-color: #00095b;
    color: white;
    width: 200px;
    border: 0px;
    border-radius: 16px;
    padding: 10px 0;
    margin: 20px;
    font-family: "Elms Sans";
    font-size: 16px;
}

button:hover {
  background-color: blue;
  transform: scale(1.05);
  cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00095b;
    color: white;
    height: 80px;
    font-family: "Elms Sans";
    font-size: 18px;
    padding: 0% 2%;
}

.divRedes{
    display: flex;
    align-items: center;
    gap: 8px;
    
}

footer div {
  flex: 20%;
}

a:link {
  color: blue;
}


a:visited {
  color: blue;
}


a:hover {
  color: gray;
}


a:active {
  color: blue;
}
