@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
margin: 0;
padding: 0;
}

.elms-sans {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
}

@media (max-width: 480px) {

header {
  flex-direction: column;
}

nav {
  gap: 10px;
}

  footer{
    flex-direction: column;
    height: 300px;
  }

  footer div {
    display: flex;
    align-items: center;
  }
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: "Elms Sans";
}

html {
  height: 100%;
}

div#carousel {
  width: 100%;
  position: relative;
  max-width: 900px;
  height: 400px;
  margin: 20px auto 5px auto;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.slide.ativo {
  opacity: 1;
}

.botaoEsquerdo,
.botaoDireito {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background: rgba(0,0,0,0.5);
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background 0.3s;
}

.botaoEsquerdo,
.botaoDireito,
.botaoEsquerdo:link,
.botaoDireito:link,
.botaoEsquerdo:visited,
.botaoDireito:visited {
  color: white;
}

.botaoEsquerdo:hover,
.botaoDireito:hover {
  color: gray;
  background: rgba(0,0,0,0.8);
}

.botaoEsquerdo {
  left: 15px;
}

.botaoDireito {
  right: 15px;
}

div#carousel-title a {
  text-decoration: none;
}

div#carousel-title  {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Elms Sans";
  font-size: 20px;
  color: blue;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

header a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 100%;
  display: block;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

main {
  height: 90vh;
  font-size: 18px;
  font-family: "Elms Sans";
  min-height: calc(100% - 167px);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00095b;
  color: white;
  height: 80px;
  font-family: "Elms Sans";
  font-size: 16px;
  padding: 0% 2%;
}

.divRedes{
  display: flex;
  align-items: center;
  gap: 8px;
    
}

footer div {
  flex: 20%;
}

a:link {
  color: blue;
}


a:visited {
  color: blue;
}


a:hover {
  color: gray;
}


a:active {
  color: blue;
}
